<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category
            name="Mapper Test Generator"
            id="FixtureGeneratorPlugin.commands.mapper" />
      <category
            name="Fixture Generator"
            id="FixtureGeneratorPlugin.commands.fixture" />
      <command
            name="Fixture Generator"
            categoryId="FixtureGeneratorPlugin.commands.category"
            id="FixtureGeneratorPlugin.commands.fixtureCommand" />
      <command
            name="Mapper Test Generator"
            categoryId="FixtureGeneratorPlugin.commands.mapper"
            id="FixtureGeneratorPlugin.commands.mapperCommand" />
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="FixtureGeneratorPlugin.commands.fixtureCommand"
            class="fixturegeneratorplugin.handlers.FixtureGeneratorHandler" />
      <handler
            commandId="FixtureGeneratorPlugin.commands.mapperCommand"
            class="fixturegeneratorplugin.handlers.MapperTestGeneratorHandler" />
   </extension>
    <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      	<menu id="generator"
      		label="Generators">
            <command
                  commandId="FixtureGeneratorPlugin.commands.fixtureCommand"
                  id="TestPopupMenu.menus.fixtureCommand"
                  mnemonic="G">
                    <visibleWhen>
				           <with variable="activeMenuSelection">
				            <iterate ifEmpty="false">
				             <adapt type="org.eclipse.core.resources.IResource">
				               <test property="org.eclipse.core.resources.name" value="*.java" />
				             </adapt>
				            </iterate>
				           </with>
         			</visibleWhen>
            </command>
            <command
                  commandId="FixtureGeneratorPlugin.commands.mapperCommand"
                  id="TestPopupMenu.menus.mapperCommand"
                  mnemonic="H">
                    <visibleWhen>
				           <with variable="activeMenuSelection">
				            <iterate ifEmpty="false">
				             <adapt type="org.eclipse.core.resources.IResource">
				               <test property="org.eclipse.core.resources.name" value="*.java" />
				             </adapt>
				            </iterate>
				           </with>
         			</visibleWhen>
            </command>
        </menu>
      </menuContribution>
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
      <page id="FixtureGeneratorPlugin.preferecePage.general"
	    class="fixturegeneratorplugin.preferences.ConfigPreferencePage"
            name="Generators">
       </page>
       <page
         id="FixtureGeneratorPlugin.preferecePage.fixturePage"
	    class="fixturegeneratorplugin.preferences.FixtureConfigPreferencePage"
            name="Fixture"
         category="FixtureGeneratorPlugin.preferecePage.general">
      </page>
       <page
         id="FixtureGeneratorPlugin.preferecePage.mapperPage"
	    class="fixturegeneratorplugin.preferences.MapperConfigPreferencePage"
            name="Mappers"
         category="FixtureGeneratorPlugin.preferecePage.general">
      </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
          <initializer class="fixturegeneratorplugin.preferences.initializers.MapperConfigPreferenceInitializer"/>
    </extension>
</plugin>
